.home-page {
  width: 100%;
  height: 100%;
  margin: 0;

  color: rgb(255, 255, 255);
  font-family: math;
}

.drawer {
  background-color: #ffede3bf !important;
}
.listItemButton {
  display: flex;
  align-items: center;
  gap: 15%;
  min-height: 55px;
}
.listItemButton:hover {
  background-color: rgba(128, 73, 0, 0.445) !important;
}
